/* root styles */

*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden;  */
  user-select: none; 
}

.form-switch {
  position: relative;
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.7);
  margin-right: -7px;
}
.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #DBDBDB;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #DBDBDB;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.form-switch input:checked + i {
  background-color: #2F79EF;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  width: 139px;
  float: right;
  height: 4px;
  margin-top: 10px;
  border-radius: 13px;
  margin-right: 7px;
  outline: 0;

}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: rgb(81, 142, 240);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #2F79EF;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
	transform: scale(1.3);
}
